.Timeline-section {
    background-color: #d5f4e6;
}
/*---*/

.Timeline-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
}

#Timeline-container {
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
#Timeline-container::before {
    content: '';
    position: absolute;
    left: 33px;
    top: 0;
    width: 4px;
    background-color: #80ced6;
    height: 100%;
}
/*---*/

.Timeline-date {
    height: 60px;
    width: 60px;
    border: 6px solid #fefbd8;
    border-radius: 50%;
    margin-left: 0px;
    background-color: #618685;
    color: #F39C12;
    
    position: relative;
    
    display:flex;
    justify-content: center;
    align-items: center;
}

/*---*/

.Timeline-content {
    width: 40%;
    padding: 12px;
    margin: 0px 0px 40px 20px;
    background-color: #fefbd8;
    border-radius: 8px;
    position: relative;
    
}

.Timeline-content p {
    /*Limiting height*/
    max-height: 100px;
    overflow: hidden;
}

.Timeline-content::before {
    content: '';
    position: absolute;
    top: 28px;
    right: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right: 7px solid #fefbd8;
}
/*@media specifications for bigger screens*/

@media only screen and (min-width: 700px) { 
.Timeline-container {
    max-width: 1050px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    }}

@media only screen and (min-width: 700px) {
#Timeline-container::before {
    left: 50%;
    margin-left: -27px;
} }

@media only screen and (min-width: 700px) {
.Timeline-content {
    margin: 0px 20px 40px 0px;
}
}

@media only screen and (min-width: 700px) {
.Timeline-content::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left: 7px solid #fefbd8; 
}}


@media only screen and (min-width: 700px) {
.Timeline-date::before {
    margin-right: 0px;
} }




/*Timeline-Container right*/

.Timeline-container-right {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;

    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
}

.Timeline-container-right::before {
    content: '';
    position: absolute;
    left: calc(50% - 50px);
    top: 0;
    width: 4px;
    background-color: #826F92;
    height: 100%;
    margin-right: -2px;
}
.Timeline-content-right {
    width: 40%;
    padding: 12px;
    margin: 0px 0px 40px 20px;
    background-color: #EFE3F9;
    border-radius: 8px;
    position: relative;
}

/*
@media only screen and (min-width: 700px) {
.Timeline-content-right::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left: 7px solid #EFE3F9;
}} 


/*Timeline-Interrupt*/

.Timeline-interrupt {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    font-size: 24px;
    max-width: 650px;
    
    display:block;
    position:relative;
}

.Timeline-interrupt:after, .Timeline-container:after {
    content: "";
    display: table;
    clear: both;
}

.cd-read-more {
  float: right;
  padding: 12px 18px;
  background: #4A90E2;
  color: white;
  border-radius: 5px; }