.Timeline-section {
    background-color: #EAD4FC;
    display: block;
}
/*---*/

.Timeline-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
}

#Timeline-container {
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
#Timeline-container::before {
    content: '';
    position: absolute;
    left: 29px;
    top: 0;
    width: 4px;
    background-color: #826F92;
    height: 100%;
}
/*---*/

.Timeline-date {
    height: 60px;
    width: 60px;
    border: 6px solid #E3F9ED;
    border-radius: 50%;
    margin-left: 0px;
    background-color: #F6FFFA;
    color: #F39C12;
    
    position: relative;
    
    display:flex;
    justify-content: center;
    align-items: center;
}

/*---*/

.Timeline-content {
    width: 40%;
    padding: 12px;
    margin: 0px 0px 40px 20px;
    background-color: #EFE3F9;
    border-radius: 8px;
    position: relative;
}

.Timeline-content::before {
    content: '';
    position: absolute;
    top: 28px;
    right: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right: 7px solid #EFE3F9;
}
/*@media specifications for bigger screens*/

@media only screen and (min-width: 700px) { 
.Timeline-container {
    max-width: 1050px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    }}

@media only screen and (min-width: 700px) {
#Timeline-container::before {
    left: 50%;
    margin-left: -27px;
} }

@media only screen and (min-width: 700px) {
.Timeline-content {
    margin: 0px 20px 40px 0px;
}
}

@media only screen and (min-width: 700px) {
.Timeline-content::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left: 7px solid #EFE3F9; 
}}

@media only screen and (min-width: 700px) {
.Timeline-date::before {
    margin-left: auto;
    margin-right: 0px;
} }